/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  font-family: Arial, sans-serif;
}

.header {
  background-color: rgba(255, 255, 255, 0.96);
  color: white;
  padding: 1em;
  text-align: center;
  font-size: 0.5em;
  height: 75px;
  display: flex;
  justify-content: flex-start; /* Align horizontally to the left */
  align-items: flex-start; /* Align vertically to the top */
  padding: 5px; /* Optional: Add some padding */
}

.header img {
  max-height: 50%; /* Ensure image doesn't exceed header height */
  width: auto; /* Maintain aspect ratio */
}

.header .header-text {
  flex-grow: 1; /* Take up the remaining space */
  font-size: 38px;
  font-weight: bold;
  color: black;
  text-align: center; /* Center the text horizontally */
  margin-right: 10px; /* Optional: Space on the right if needed */
}

.main-content {
  display: flex;
  height: calc(100vh - 70px); /* Adjusting for header height */
}

.sidebar {
  width: 10%;
  background-color: #f4f4f4;
  padding: 1em;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin: 0.5em 0;
  cursor: pointer;
}

.content {
  width: 80%;
  padding: 1.5em;
  overflow-y: auto;
}

.content h2 {
  margin-bottom: 1em;
}
